extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/auth.css")

block content
    main.centered
            .logincard
                .login-bg
                .login-img
                    img(src='/images/login.png', alt='login')
                .login-info
                    .login-text
                        h1 Login
                    .loginForm
                        form(action="/auth/login", method="POST")
                            input(type="hidden", name="_csrf" value=csrfToken)
                            label(for="email") Email
                            input(type="email", name="email" )
                            label(for="password") Password
                            input(type="password", name="password" )
                            small.userMsg Forgot Password Click here to 
                                a(href="/auth/reset-password/") Reset
                            if errorMessage.length !== 0
                                p.userMsg #{errorMessage}
                            button Login