/* 
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*/
/*
------------Imports------------------
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,700");
/*
------------Placeholders------------------
*/
/*

This is the sass placeholders base file for the node cart
@package learn node

*/
/*
------------Placeholder------------------
*/
body {
  background: #aedaa6; }

.productcard, .productcard .product-img, .productcard .product-info, .product-price-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

/*
------------Variables------------------
*/
/*

This is the sass variables base file for the sunsetWp theme
@package SunsetWp

*/
/*
------------Variables------------------
*/
/*
------------Partial------------------
*/
input[type=email], input[type=text], input[type=password] {
  color: #354c58;
  box-shadow: none;
  outline: none;
  height: 1.5rem;
  margin: 0 0 1.15rem;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #74bdb7; }

.userMsg {
  color: red;
  font-size: 11px;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 600; }

body {
  font-family: "Raleway", "Helvetica Neue", Arial, Verdana, sans-serif; }

.productcard {
  width: 650px;
  border-radius: 10px;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .productcard:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .productcard .product-img {
    height: 400px;
    width: 50%; }
    .productcard .product-img img {
      width: 80%;
      border-radius: 10px 0 0 10px; }
  .productcard .product-info {
    padding: 0 22px 0 12px;
    justify-content: flex-start;
    height: 400px;
    width: 50%; }
    .productcard .product-info .product-text h1 {
      font-size: 34px;
      color: #474747; }
    .productcard .product-info .product-text h2 {
      margin: 0 0 47px 38px;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      color: #d2d2d2;
      letter-spacing: 0.2em; }
    .productcard .product-info .product-text p {
      height: 125px;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 15px;
      font-weight: lighter;
      overflow: hidden; }

.product-price-btn p {
  height: 50px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747; }
  .product-price-btn p span {
    font-family: "Open Sans", sans-serif;
    font-size: 34px; }

.product-price-btn button {
  height: 50px;
  width: 165px;
  margin: 0 0px 0 20px;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none; }
  .product-price-btn button:hover {
    background-color: #79b0a1; }
