extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if orderData.length > 0
            .grid
                each order in orderData
                    article.card.product-item
                        header.card__header
                            h1.product__title #{order._id}
                        div
                            a(href="/invoice/"+ order._id) Invoice                                
                        each items in order.products
                            div.card__content
                                h2.product__price #{items.product.description}
        else
            h1 No order