input[type=email], input[type=text], input[type=password] {
    color: #354c58;
    box-shadow: none;
    outline: none;
    height: 1.5rem;
    margin: 0 0 1.15rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #74bdb7;
}
